@using System.Globalization
@model UserViewModel

@{
    ViewBag.Title = Model.User.name;
    Layout = "_Layout";
    var list = Model.History
        .Where(x => x.status is EntryStatus.COMPLETED or EntryStatus.CURRENT or EntryStatus.PAUSED && x.watching_start.year is not null)
        .OrderBy(x => x.watching_start.GetDateTime())
        .ThenBy(x => x.watching_end.GetDateTime())
        .ToList();
    var min = list.Min(a => a.watching_start.GetDateTime());
    var max = DateTime.Today;
    var length = (int)(max - min).TotalDays;

    string Percent(int px) => $"{(100 * px / (double)length).ToString(CultureInfo.InvariantCulture)}%";
}
<div id="buttons">
    <button class="butt section" onclick="ToggleInnerHTML('title', 'naming')">
        <img src="~/svg/translate.svg" alt="JAP / ENG"/>
    </button>
</div>
<div class="user-info section">
    <a href="https://anilist.co/user/@Model.User.name">
        <img class="user-pfp" src="@Model.User.avatar["medium"]" height="64px" alt="…"/>
    </a>
    <h1>@ViewBag.Title</h1>
    <span class="invisible" id="naming" on="english" off="romaji"></span>
</div>

<div class="medialist">
    <div class="section">
        @{
            var years = Enumerable.Range(min.Year, max.Year - min.Year + 1).ToList();
            var divs = new Dictionary<int, string>(years.Count);
            foreach (var year in years)
            {
                var days = year == min.Year
                    ? (int)(new DateTime(year, 12, 31) - min).TotalDays
                    : year == max.Year
                        ? (int)(max - new DateTime(year, 1, 1)).TotalDays
                        : DateTime.IsLeapYear(year) ? 366 : 365;
                var width = Percent(days);
                divs.Add(year, width);
            }
        }
        @foreach (var item in list)
        {
            <div class="entry">
                <div class="cover">
                    <div class="image" style="background-image: url(@item.media.coverImage["large"]);"></div>
                    <a class="link" href="https://anilist.co/@item.media.URL">@(item.media.type == MediaType.ANIME ? "ア" : "マ")</a>
                </div>
                @{
                    var romaji = item.media.title["native"];
                    var title = item.media.title["english"] ?? item.media.title["romaji"];
                    var bold = item.status is EntryStatus.CURRENT or EntryStatus.REPEATING;
                }
                <div class="title" style="font-weight: @(bold ? "bold" : "inherit")" english="@title" romaji="@romaji"> @title </div>
                <div class="timeline">
                    @{
                        var a = item.watching_start;
                        var b = item.watching_end;
                        
                        var start = a.GetDateTime();
                        var end   = b.GetDateTime();
                        
                        var left  = (int)(start - min).TotalDays;
                        var width = (int)(end - start).TotalDays;
                        var dates = start == end ? a.ToString() : b.year is null ? $"{a} ➽" : $"{a} - {b}";
                        
                        var color = item.media.coverImage["color"] ?? "#00a8fe";
                    }
                    <div class="timeline-row">
                        @foreach (var x in divs)
                        {
                            var first = x.Key == min.Year ? "first" : "";
                            <div class="timeline-year @first" style="width: @x.Value;">@x.Key</div>
                        }
                    </div>
                    <div class="timeline-item tip" style="margin-left: @Percent(left); width: @Percent(width)">
                        <div class="range" style="background-color: @color;"></div>
                        <span>@dates</span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>